<ul class="pagination" ng-if="1 < pages.length || !autoHide">
    <li ng-if="boundaryLinks" ng-class="['page-item', { disabled : pagination.current == 1 }]">
        <a href="" ng-click="setCurrent(1)" class="page-link" aria-label="Previous">
        	<span aria-hidden="true">&laquo;</span>
        	<span class="sr-only">Previous</span>
        </a>
    </li>
    <li ng-if="directionLinks" ng-class="['page-item', { disabled : pagination.current == 1 }]">
        <a href="" ng-click="setCurrent(pagination.current - 1)" class="page-link">
        	<span aria-hidden="true">&lsaquo;</span>
        	<span class="sr-only">Previous</span>
        </a>
    </li>
    <li ng-repeat="pageNumber in pages track by tracker(pageNumber, $index)" ng-class="['page-item', { active : pagination.current == pageNumber, disabled : pageNumber == '...' }]">
      <a href="" ng-click="setCurrent(pageNumber)" class="page-link" ng-bind="pageNumber"></a>
    </li>

    <li ng-if="directionLinks" ng-class="['page-item', { disabled : pagination.current == pagination.last }]">
        <a href="" ng-click="setCurrent(pagination.current + 1)" class="page-link">
        	<span aria-hidden>&rsaquo;</span>
        	<span class="sr-only">Next</span>
        </a>
    </li>
    <li ng-if="boundaryLinks"  ng-class="['page-item', { disabled : pagination.current == pagination.last }]">
        <a href="" ng-click="setCurrent(pagination.last)" class="page-link">
        	<span aria-hidden>&raquo;</span>
        	<span class="sr-only">Next</span>
        </a>
    </li>
</ul>
