<div ng-controller="ConsultationController as ctrl">
    <div class="modal-body">
      <div class="progress-area">
        <div class="consultation-progress" ng-show="!ctrl.OnThankYou()">
          <div class="bar"></div>
          <div>
            <a class="cancel btn btn-link btn-sm" ng-click="ctrl.ConfirmExit()">Cancel</a>
            <div class="number" ng-bind="(ctrl.$scope.currentQuestionNumber + '/' + ctrl.$scope.totalQuestionNumber)"></div>
          </div>
        </div>
      </div>

      <form novalidate name="consultaionForm" class="consultation-form" autocomplete="off">

  			<div class="questions" ng-show="ctrl.OnQuestions()">
  				<div class="question" ng-bind="ctrl.$scope.questions[ctrl.$scope.currentQuestionIndex].Text"></div>


  				<div class="options" ng-class="{ 'is-safari': ctrl.$scope.isSafari}">
  					<div role="button" data-id="option.Id" ng-class="{'short': option.Description === '', 'selected': ctrl.IsSelected(option.Id), 'disabled': !ctrl.IsValidOption(option.Id)}"
  						ng-click="ctrl.ChangeAnswer(option.Id);" ng-repeat="option in ctrl.$scope.questions[ctrl.$scope.currentQuestionIndex].Options | orderBy:'SequenceNumber'"
  						class="option">
  						<div class="title" ng-bind="option.Text"></div>
  						<div class="description" ng-show="option.Description !== ''" ng-bind="option.Description"></div>
  					</div>
  				</div>
  			</div>

        <div class="contact-form" ng-show="ctrl.OnContactForm()">
          <div class="contact-form-container">
            <div class="question">What's the best way to get ahold of you?</div>
            <div class="row input">
              <div class="col-xs-12">
                <input type="text" ng-class="['form-control', { 'is-valid': ctrl.$scope.consultaionForm.consultationFirstName.$valid, 'is-invalid': ctrl.$scope.consultaionForm.consultationFirstName.$invalid && cctrl.$scope.consultaionForm.consultationFirstName.$dirty }]"
                  name="consultationFirstName" placeholder="First Name" max-length="20" ng-model="ctrl.$scope.form.SubmitterFirstName"
                  ng-required="true">
              </div>
            </div>
            <div class="row input">
              <div class="col-xs-12">
                <input type="text" ng-class="['form-control', { 'is-valid': ctrl.$scope.consultaionForm.consultationLastName.$valid, 'is-invalid': ctrl.$scope.consultaionForm.consultationLastName.$invalid && ctrl.$scope.consultaionForm.consultationLastName.$dirty }]"
                  name="consultationLastName" placeholder="Last Name" max-length="20" ng-model="ctrl.$scope.form.SubmitterLastName"
                  ng-required="true">
              </div>
            </div>
            <div class="row label">
              <div class="col-xs-12">
                <h5>Preferred Method of Contact (one required)</h5>
              </div>
            </div>
            <div class="row input">
              <div class="col-xs-12">
                <input autocomplete="off" type="tel" ng-class="['form-control', { 'is-valid': ctrl.$scope.consultaionForm.consultationPhone.$valid && ctrl.$scope.form.SubmitterPhone.length, 'is-invalid': ctrl.$scope.consultaionForm.consultationPhone.$invalid && ctrl.$scope.consultaionForm.consultationPhone.$dirty }]"
                  name="consultationPhone" max-length="20" ng-model="ctrl.$scope.form.SubmitterPhone" placeholder="Phone" ng-required="!ctrl.$scope.form.SubmitterEmail.length"
                  ng-minlength="10" ng-pattern="/^(\+?(\d{1}|\d{2}|\d{3})[- ]?)?\(?\d{3}\)?[- ]?\d{3}[- ]?\d{4}$/">
              </div>
            </div>
            <div class="row input">
              <div class="col-xs-12">
                <input autocomplete="off" type="email" ng-class="['form-control', { 'is-valid': ctrl.$scope.consultaionForm.consultationEmail.$valid && ctrl.$scope.form.SubmitterEmail.length, 'is-invalid': ctrl.$scope.consultaionForm.consultationEmail.$invalid && ctrl.$scope.consultaionForm.consultationEmail.$dirty }]"
                  name="consultationEmail" max-length="50" ng-model="ctrl.$scope.form.SubmitterEmail" placeholder="Email" ng-required="!ctrl.$scope.form.SubmitterPhone.length">
              </div>
            </div>
            <div class="row label consultation-clubs">
              <div class="col-xs-12">
                <h5>Preferred Club for Consultation</h5>
              </div>
            </div>
            <div class="row input">
              <div class="col-xs-12">
                  {{#> _clubSelect
                    placeholder = "{{ ctrl.$scope.form.selectedClubText }}"
                  }}
                  {{/_clubSelect}}
              </div>
            </div>
            <div class="row label">
              <div class="col-xs-12">
                <h5>Preferred Time of Day to be Contacted</h5>
              </div>
            </div>
            <div class="row input">
              <div class="col-xs-12">
                <div class="checkbox-container">
                  <input autocomplete="off"  type="checkbox" id="consultationTime_1" ng-model="ctrl.$scope.form.PreferredTime[0].IsSelected">
                  <label for="consultationTime_1">Morning</label>
                </div>
                <div class="checkbox-container">
                  <input autocomplete="off"  type="checkbox" id="consultationTime_2" ng-model="ctrl.$scope.form.PreferredTime[1].IsSelected">
                  <label for="consultationTime_2">Afternoon</label>
                </div>
                <div class="checkbox-container">
                  <input autocomplete="off"  type="checkbox" id="consultationTime_3" ng-model="ctrl.$scope.form.PreferredTime[2].IsSelected">
                  <label for="consultationTime_3">Evening</label>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div ng-show="ctrl.OnThankYou()" class="thank-you">
          <p ng-bind="('Thanks, ' + ctrl.$scope.summary.FirstName + ', for requesting your free consultation with a Life Time Fitness personal
            trainer.')"></p>
          <p>We'll be getting in contact with you very soon with next steps.</p>
        </div>

  		</form>
    </div>
    <div class="modal-footer">
      <button ng-show="!ctrl.OnThankYou() && ctrl.$scope.currentQuestionNumber > 1" type="button" class="btn btn-link btn-sm" data-dismiss="modal" ng-click="ctrl.PreviousQuestion()">Back</button>
      <button type="button" ng-show="ctrl.OnQuestions() && ctrl.IsAnswered()" class="btn btn-primary btn-sm" ng-click="ctrl.NextQuestion()">Next</button>
      <button type="button" ng-show="ctrl.OnContactForm()" class="btn btn-primary btn-sm" ng-click="ctrl.Finish()">Finish</button>
      <button type="button" ng-show="ctrl.OnThankYou()" class="btn btn-primary btn-sm" ng-click="ctrl.Close()">Close</button>
    </div>
</div>
