<div ng-controller="DetailController as ctrl">

  {{#> _detailHero
    trainerInfo = "ctrl.bioTrainerInfo"
    photoPath = "{{ ctrl.bioTrainerInfo.trainer.PhotoPath }}"
    firstName = "{{ ctrl.bioTrainerInfo.trainer.FirstName }}"
    lastInitial = "{{ ctrl.bioTrainerInfo.trainer.LastNameInitial }}"
    clubName = "{{ ctrl.bioTrainerInfo.trainer.ClubName }}"
    trainingStyleIcon = "{{ ctrl.bioTrainerInfo.trainer.TrainingStyleIconName }}"
    lowestRate = "{{ ctrl.bioTrainerInfo.trainer.LowestRate | currency }}"
  }}
	{{/_detailHero}}

	{{#> _detailAbout }}
	{{/_detailAbout}}

	{{#> _detailFooter }}
	{{/_detailFooter}}

	{{#> _testimonialModal }}
	{{/_testimonialModal}}

</div>
