
#ngProgress-container {
	position: static;
	background-color: $gray-light;

	#ngProgress {
		box-shadow: none;
		height: 10px !important;
		color: $brand-primary !important;
		background-color: $brand-primary !important;
	}
}

.ltf-bio-consultation-modal {
	background-color: $white;
	font-family: $font-family-sans-serif;

	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: -1000;
	opacity: 0;
	display: none;

	transition: opacity 0.8s, z-index 0.8s;
	transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);

	&.active {
		display: block;
		z-index: 1000;
		opacity: 1;
	}

	.modal-body {
		background-color: $white;
		padding: 0;

		.progress-area {
			background-color: $gray-lighter;
			height: 55px;

			.consultation-progress {
				margin: 0 auto;
				width: 85%;
				padding: 20px 0 10px;
				max-width: $bp-xl;

				.number {
					text-align: right;
					font-size: 0.7rem;
					font-weight: 700;
				}

				.cancel {
					float: left;
					line-height: 0.5;
					padding-left: 0;
				}
			}
		}

		.consultation-form {
			margin: 50px 0;
			user-select: none;

			.question {
				color: $gray-dark;
				font-size: $size-20;
				font-weight: 800;
				margin: $grid-gutter-width;
			}

			.questions {
				text-align: center;

				.question {
					color: $gray-dark;
					font-size: $size-20;
					font-weight: 800;
					margin: $grid-gutter-width;
				}

				.options {
					display: flex;
					justify-content: center;
					flex-wrap: wrap;
					margin: 0 auto;
					width: 70%;

					.option {
						border: solid 1px $gray-light;
						margin: 15px;
						padding: 50px $grid-gutter-width;
						min-width: 275px;
						color: $gray-darker;
						text-align: center;
						max-width: 60px;

						&.selected {
							border: solid 2px $brand-primary;
						}

						&.disabled {
							background-color: $gray-lighter;
						}

						&.short {
							padding: 10px 0;
						}

						.title {
							font-size: 1.3rem;
							margin-bottom: 10px;
						}

						.description {
							font-size: 1rem;
						}
					}
				}

				.is-safari.options {
					.option {
						margin: 15px 1%;
						width: 48%;
						max-width: auto;
					}
				}
			}

			.contact-form {
				text-align: left;

				.question {
					text-align: center;
				}

				.row.input {
					padding: 10px;
				}

				.row.label {
					padding: 30px 10px 0;
				}

				.contact-form-container {
					margin: 0 auto;


					@media (min-width: $bp-xs) {
						width: 80%;
					}

					@media (min-width: $bp-lg) {
						width: 60%;
					}

					@media (min-width: $bp-xl) {
						width: 40%;
					}

					.invalid-icon {
						background-image: url('../../images/icon-alert-danger.svg');
						padding-right: 1rem;
						background-repeat: no-repeat;
						background-position: right bottom 0.2rem;
						background-size: 18px 1pc;
					}

					.invalid-border {
						border-color: #c93325;
					}
				}
			}
		}

		.thank-you {
			text-align: center;
		}
	}

	.modal-footer {
		text-align: center;
	}
}
