.ltf-bio-trainer-header {
	background-color: $bios-gray-darkest;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: $white;
	padding-top: 20px;

	&.loading > .container {
		visibility: hidden;
	}

	h1 {
		color: $white;
		font-family: $font-family-serif;
		font-size: $size-24;
		margin: 10px 0 0;
		font-weight: 300;
		text-align: center;
	}

	p {
		text-align: center;
		margin-bottom: 1em;
	}

	.profile-image {
		width: 150px;
		height: 150px !important;
		border: solid 4px $gray-dark;
		margin-left: auto;
		margin-right: auto;
	}

	.more-info {
		ul {
			li {
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;

				padding-bottom: 8px;

				&.repeated {
					padding-bottom: 0;
				}
			}

			.icon-spacer {
				margin-right: 10px;
			}
		}
	}
}

.ltf-bio-trainer-section {
	background-color: $white;
	border-bottom: solid 1px $gray-lighter;
	padding: 30px 0;

	h4 {
		font-size: $size-20;

		&::after {
			margin-top: $size-20;
		}
	}

	h5 {
		font-size: 1rem;
		margin-bottom: 8px;
	}

	h6 {
		font-size: 1rem;
	}

	ul.list-unstyled {
		margin-top: 6px;

		li {
			margin-bottom: 6px;
			line-height: 1.4;
		}

		.btn-more {
			padding-left: 0;
		}
	}

	&.about {
		p:last-child {
			margin-bottom: 0;
		}
	}

	&.darker {
		background-color: $gray-lightest;
	}

	&.personality,
	&.credentials,
	&.areasoffocus {
		[class^='col-'] {
			&:last-child {
				p,
				ul {
					margin-bottom: 0;
				}
			}
		}
	}

	&.credentials {
		font-size: $size-13;
	}

	&.areasoffocus {
		[class^='col-']:last-child .ltf-speciality {
			margin-bottom: 0;
		}

		.ltf-speciality {
			margin-bottom: 24px;

			img {
				margin: 0;
				width: 100%;
			}

			h4 {
				border: solid 1px $gray-lighter;
				border-top: 0;
				background-color: $white;
				text-align: center;
				padding: 0 10px;
				text-transform: none;
				font-weight: 200;
				font-size: $size-20;
				line-height: 78px;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis;
				margin: 0;
			}
		}
	}

	&.testimonials {
		.testimonial-actions {
			text-align: center;
		}

		.btn-more {
			padding-left: 0;
		}
	}
}

.trainer-testimonial {
	margin-bottom: 36px;

	h6 {
		text-transform: none;
		margin-bottom: 0.8em;
	}
}

.trainer-actions {
	margin: 0;
	padding: 20px 0;
	background-color: $white;

	.btn {
		width: 100%;
	}

	.col-xs-6 {
		&:first-child {
			padding-right: 3px;
		}

		&:last-child {
			padding-left: 3px;
		}
	}

	&.visible-xs {
		&::after,
		&::before {
			display: table;
			content: ' ';
		}
	}
}

.ltf-bio-no-trainer {
	padding-top: 50px;
	padding-bottom: 50px;
}

@media (min-width: 768px) {
	.ltf-bio-trainer-header {
		h1 {
			text-align: left;
		}

		p {
			text-align: left;
		}
	}

	.trainer-actions {
		padding: 0;
		text-align: center;
		background-color: transparent;

		.btn {
			width: 160px;
			margin-bottom: 10px;
		}
	}
}

@media (min-width: 992px) {
	.ltf-bio-trainer-header {
		padding: 50px 0;

		h1 {
			font-size: $size-28;
			font-weight: 500;
			margin: 20px 0 0;
		}

		.profile-image {
			width: 195px;
			height: 195px !important;
			border-width: 5px;
		}
	}

	.ltf-bio-trainer-section {
		padding-top: 40px;
		padding-bottom: 40px;

		&.about {
			padding-top: 60px;
			padding-bottom: 60px;

			p {
				text-align: center;
				max-width: 660px;
				margin-left: auto;
				margin-right: auto;
			}
		}

		&.personality,
		&.credentials {
			p,
			ul {
				margin-bottom: 0;
			}
		}

		&.areasoffocus {
			.ltf-speciality {
				margin-bottom: 0;

				h4 {
					font-weight: 500;
					font-size: $size-24;
					line-height: 82px;
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.ltf-bio-trainer-header {
		.more-info {
			background-color: $bios-gray-darkest;
			margin: 0 -15px;
			padding: 15px 20px 0;

			&.last {
				padding-top: 0;
				padding-bottom: 20px;

				ul:last-child li:last-child {
					padding-bottom: 0;
				}
			}

			ul {
				margin-bottom: 0;

				li {
					padding-bottom: 10px;
				}
			}
		}
	}

	.ltf-bio-trainer-section {
		&.testimonials,
		&.areasoffocus {
			h3 {
				text-align: center;
				font-weight: 700;
				letter-spacing: 0.09em;
				text-transform: uppercase;
				font-size: $size-20;
				line-height: 1.25;
				margin-bottom: 1.1em;

				&::after {
					margin-bottom: -2px;
					background: $bios-gray-header-border;
					content: ' ';
					display: block;
					height: 2px;
					width: 60px;
					margin: $size-20 auto 0;
				}
			}
		}

		&.testimonials {
			.testimonial-actions {
				.btn {
					display: block;
					width: 100%;
					margin-bottom: 10px;
				}
			}
		}
	}

	.ltf-bio-trainer-section,
	.trainer-actions {
		.btn-sm {
			line-height: 2.1;
		}
	}
}
