/*************************************/
/* Member View: Results List               */
/*************************************/

.filters-open {
	.ltf-bio-results {
		display: none;
	}
}

.ltf-bio-results {
	padding-bottom: 70px;

	.results-count {
		color: $gray-dark;
		padding: 15px 0;
		font-size: $size-10;
	}
}

.ltf-bio-no-results {
	text-align: center;
	width: 100%;
	color: $gray-dark;
	margin: 60px 20px;
}

.bio-results-card {
	background: $white;
	box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.5);
	margin-bottom: 18px;
	text-align: center;
	color: $gray-dark;
	font-size: $size-13;
	height: 450px;

	> a {
		display: block;
		padding-bottom: 32px;
		position: relative;
		height: 100%;
		color: $gray-dark;
	}

	h1 {
		font-family: $font-family-serif;
		font-size: $size-24;
		margin: $size-12 0 $size-10;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	h2 {
		font-size: $size-14;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-weight: normal;
		margin-bottom: 0;
	}

	h5 {
		margin: 15px 0 5px;
	}

	ul {
		text-align: left;
		padding: 10px 0;
		margin-bottom: 0;

		li {
			padding: 0 40px;
			margin-bottom: 5px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;

			&:last-child {
				margin-bottom: 0;
			}

			.icon-spacer {
				margin-right: 10px;
			}

			.bio-list-item {
				vertical-align: bottom;
			}
		}
	}

	.basic-info {
		border-bottom: solid 1px $gray-lighter;
		padding: 20px 20px 0;
		display: block;

		.profile-image {
			border: solid 5px $gray-lightest;
			width: 110px;
			height: 110px !important;
			display: inline-block;
		}
	}

	.rate-section {
		position: absolute;
		display: block;
		bottom: 0;
		left: 0;
		width: 100%;
		border-top: solid 1px $gray-lighter;
		line-height: 32px;
		font-size: $size-14;
		font-family: $font-family-serif;
		font-weight: 500;
	}
}

@media (min-width: 768px) {
	.filters-open {
		.ltf-bio-results {
			display: block;
		}
	}

	.ltf-bio-results {
		padding-bottom: 12px;

		.results-count {
			padding: 0 0 24px;
			font-size: $size-12;
		}
	}

	.ltf-bio-no-results {
		margin: 100px 0;
	}

	.bio-results-card {
		height: 510px;

		h5 {
			margin: 20px 0 5px;
		}

		ul {
			padding: 22px 0;

			li {
				padding: 0 60px;
			}
		}

		.basic-info {
			padding-top: 28px;
			height: 256px;

			.profile-image {
				width: 128px;
				height: 128px !important;
			}
		}
	}
}
