/*************************************/
/* Member View: Search               */
/*************************************/

.filters-open {
	.ltf-bio-search {
		.ltf-bio-search-container {
			display: block;
		}

		.ltf-bio-service-menu {
			display: none;
		}
	}
}

.ltf-bio-search {
	position: relative;

	.ltf-bio-search-container {
		display: none;
		padding-bottom: 80px;
	}

	.ltf-bio-filters {
		> .container {
			padding-top: 1em;
			padding-bottom: 0.5em;
		}

		.multiselect {
			margin-bottom: 0.5em;
		}
	}

	.ltf-bio-chiclets-container {
		border-top: solid 1px $gray-lighter;
		border-bottom: solid 1px $gray-lighter;
		background-color: $white;
		padding-top: 12px;
		padding-bottom: 5px;
		min-height: 58px;
	}

	.ltf-bio-service-menu {
		nav {
			border-bottom: solid 1px $bios-gray-dark;
			font-size: 0;
			margin-top: 10px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			a {
				display: block;
				color: $gray;
				flex-grow: 1;
				position: relative;
				bottom: -1px;
				z-index: 1;
				text-align: center;
				padding: 0 10px;
				min-width: 0;

				&:first-child {
					text-align: left;
					padding-left: 0;
				}

				&:last-child {
					text-align: right;
					padding-right: 0;
				}

				span {
					display: inline-block;
					font-size: $size-12;
					line-height: 36px;
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
					border-bottom: solid 3px transparent;
				}

				&.current,
				&:hover {
					color: $gray-dark;
				}

				&.current {
					font-weight: 500;

					span {
						border-bottom-color: $brand-info;
					}
				}
			}
		}
	}

	.filters-button {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 2;
		background-color: $white;
		padding: 15px;

		.btn {
			display: block;
			width: 100%;
		}
	}
}

.results-indicator .loading-container {
	padding-top: 60px;
	padding-bottom: 60px;
}

@media (min-width: 768px) {
	.ltf-bio-search {
		.ltf-bio-search-container {
			display: block;
			padding-bottom: 0;
		}

		.ltf-bio-filters {
			> .container {
				padding-top: 1.25em;
				padding-bottom: 0.75em;
			}
		}

		.ltf-bio-service-menu {
			padding-top: 1.5em;

			nav {
				display: block;
				margin-top: 0;

				a {
					display: inline-block;
					padding: 0 15px;

					&:first-child {
						padding-left: 0;
					}

					span {
						padding: 0 4px;
						font-size: 1rem;
					}
				}
			}
		}
	}

	.results-indicator .loading-container {
		padding-top: 100px;
		padding-bottom: 100px;
	}
}

@media (min-width: 992px) {
	.ltf-bio-search {
		.ltf-bio-service-menu {
			nav {
				a {
					padding: 0 20px;
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.filters-open {
		background-image: url('../../images/iso-pattern-medium.svg');
		background-repeat: repeat;

		.ltf-bio-search {
			.ltf-bio-filters {
				background: transparent;
			}

			.ltf-bio-service-menu {
				display: none;
			}
		}
	}
}
