<section class="bio-results-card">
	<a href="/#/detail/{{ id }}">
		<span class="basic-info">
			<img class="profile-image" ng-src="{{ photoPath }}" alt="{{ firstName }} {{ lastInitial }}." err-src="images/trainer-placeholder.svg">
			<h1>{{ firstName }} {{ lastInitial }}</h1>
			<button class="btn btn-primary-outline btn-no-outline ico-mail" ng-click="ctrl.messageOpen($event, result)"></button>
		</span>
		<ul class="list-unstyled">
			<li ng-if="result.TrainingStyle.length > 0">
				{{#> _cardIcon
					src = "{{ result.TrainingStyle[0].IconName }}"
				}}
				{{/_cardIcon}}
				<span class="bio-list-item" ng-bind="result.TrainingStyle[0].Value"></span>
			</li>
			<li><span class="icon-spacer ico-club"></span><span class="bio-list-item" ng-bind="result.Club.Name"></span></li>
			<li ng-if="result.AreasOfFocus.length > 0"><h5>Areas of Focus</h5></li>
			<li ng-repeat="aof in result.AreasOfFocus">
				{{#> _cardIcon
					src = "{{ aof.IconName }}"
				}}
				{{/_cardIcon}}

				<span class="bio-list-item" ng-bind="aof.Value"></span>
			</li>
		</ul>
		<span class="rate-section" ng-if="result.currentRate" ng-bind="('Starting at: ' + (result.currentRate | currency) + '/hr')"></span>
	</a>
</section>
