<multiselect-group autocomplete="off" id="consultation-clubs" placeholder="{{ placeholder }}" choices="ctrl.$scope.locations" on-change="ctrl.SelectClub"
  template-url="components/multiselectLocations.html"></multiselect-group>
