<header class="ltf-bio-trainer-header" style="background-image: url('../images/fpo-trainer-bg.jpg');" ng-class="{ loading: isLoading }" ng-show="ctrl.$scope.validTrainer">
  <div class="container">
		<div class="row">
      <div class="col-xs-12 col-xl-10">
        <div class="row">
        <div class="col-xs-12 col-md-3">
          <div class="trainer-photo">
            <img class="profile-image" src="{{ photoPath }}" err-src="images/trainer-placeholder.svg">
          </div>
        </div>
				<div class="col-xs-12 col-md-9">
					<div class="row">
						<div class="col-xs-12">
							<div class="basic-info">
								<h1>{{ firstName }} {{ lastInitial }}.</h1>
								<p>
									<span ng-repeat="service in ctrl.bioTrainerInfo.trainer.Services" ng-bind="($last ? service.Value : service.Value + ' | ')">
                  </span>
								</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12 col-md-4">
							<div class="more-info">
								<ul class="list-unstyled">
									<li ng-if="ctrl.bioTrainerInfo.trainer.TrainingStyleName">
										<img ng-src="images/white-icons/{{ trainingStyleIcon }}" class="ico-coaching-style"/>
										<span class="bio-list-item" ng-bind="ctrl.bioTrainerInfo.trainer.TrainingStyleName"></span>
									</li>
									<li>
										<span class="icon-spacer ico-club"></span>
										<span class="bio-list-item">{{ clubName }}</span>
									</li>
									<li ng-if="ctrl.bioTrainerInfo.trainer.LowestRate">
										<span class="icon-spacer ico-pay"></span>
										<span class="bio-list-item">Starting at: {{ lowestRate }}/hr</span>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-xs-12 col-md-4">
							<div class="more-info last">
								<ul class="list-unstyled">
									<li ng-if="ctrl.bioTrainerInfo.trainer.ExperienceLength">
										<span class="icon-spacer ico-clock"></span>
										<span class="bio-list-item" ng-bind="ctrl.bioTrainerInfo.trainer.ExperienceLength"></span>
									</li>
									<li ng-if="ctrl.bioTrainerInfo.trainer.IsFlexible">
										<span class="icon-spacer ico-calendar"></span>
										<span class="bio-list-item">Flexible Schedule</span>
									</li>
									<li ng-repeat="day in ctrl.bioTrainerInfo.trainer.Schedule.Days" ng-class="['repeated', { 'last': $last }]">
										<span ng-class="['icon-spacer', { 'ico-calendar': $first, 'ico-placeholder': !$first }]"></span>
										<span class="bio-list-item" ng-bind="( day.Label + ': ' + ctrl.timesList(day) )"></span>
									</li>
									<li ng-if="ctrl.bioTrainerInfo.trainer.Schedule.Days.length > 0">
										<span class="icon-spacer ico-placeholder"></span>
										<small>*Times may vary</small>
									</li>
								</ul>
							</div>
						</div>
						<div class="col-xs-12 col-md-4 hidden-xs trainer-actions">
							<button class="btn btn-primary btn-sm" ng-click="ctrl.consultationOpen(ctrl.bioTrainerInfo.trainer.ClubIdentifier)">Consultation</button>
							<button class="btn btn-primary btn-sm" ng-click="ctrl.messageOpen($event, ctrl.bioTrainerInfo.trainer)">Message</button>
						</div>
					</div>
				</div>
      </div>
      </div>
    </div>
  </div>
</header>
