<div ng-show="ctrl.$scope.validTrainer">
	<section class="ltf-bio-trainer-section about" ng-if="ctrl.bioTrainerInfo.trainer.SelfDescription">
		<div class="container">
			<h4 class="section-header">About Me</h4>
			<p ng-bind="ctrl.bioTrainerInfo.trainer.SelfDescription"></p>
		</div>
	</section>

	<section class="ltf-bio-trainer-section personality" ng-if="ctrl.bioTrainerInfo.trainer.PersonalActivity || ctrl.bioTrainerInfo.trainer.ComfortFood || ctrl.bioTrainerInfo.trainer.FavoriteMusicalArtist">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-md-4" ng-if="ctrl.bioTrainerInfo.trainer.PersonalActivity">
					<h5>When I'm Not Training You Can Find Me</h5>
					<p ng-bind="ctrl.bioTrainerInfo.trainer.PersonalActivity"></p>
				</div>
				<div class="col-xs-12 col-md-4" ng-if="ctrl.bioTrainerInfo.trainer.ComfortFood">
					<h5>My Go-To Comfort Food</h5>
					<p ng-bind="ctrl.bioTrainerInfo.trainer.ComfortFood"></p>
				</div>
				<div class="col-xs-12 col-md-4" ng-if="ctrl.bioTrainerInfo.trainer.FavoriteMusicalArtist">
					<h5>My Favorite Musical Artist</h5>
					<p ng-bind="ctrl.bioTrainerInfo.trainer.FavoriteMusicalArtist"></p>
				</div>
			</div>
		</div>
	</section>

	<section class="ltf-bio-trainer-section credentials" ng-if="ctrl.bioTrainerInfo.trainer.Specialities.length > 0 || ctrl.bioTrainerInfo.trainer.Degrees.length > 0 || ctrl.bioTrainerInfo.trainer.Certifications.length > 0 || ctrl.bioTrainerInfo.trainer.Languages.length > 0 || ctrl.bioTrainerInfo.trainer.ProfessionalActivities.length > 0">
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" ng-if="ctrl.bioTrainerInfo.trainer.Degrees.length > 0">
					<h6>Education</h6>
					<ul class="list-unstyled">
	          <li ng-repeat="item in ctrl.bioTrainerInfo.trainer.Degrees">
	            <div ng-bind="item.Name">{{ item.Name }}</div>
	            <div ng-bind="item.SchoolName"></div>
	          </li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" ng-if="ctrl.bioTrainerInfo.trainer.Languages.length > 0">
					<h6>Languages</h6>
					<ul class="list-unstyled">
						<li ng-repeat="item in ctrl.bioTrainerInfo.trainer.Languages" ng-bind="item"></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" ng-if="ctrl.bioTrainerInfo.trainer.ProfessionalActivities.length > 0">
					<h6>Trainer Tools</h6>
					<ul class="list-unstyled">
						<li ng-repeat="item in ctrl.bioTrainerInfo.trainer.ProfessionalActivities" ng-bind="item"></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" ng-if="ctrl.bioTrainerInfo.trainer.Specialities.length > 0">
					<h6>Specialities</h6>
					<ul class="list-unstyled">
						<li ng-repeat="item in ctrl.bioTrainerInfo.trainer.Specialities" ng-bind="item"></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-2" ng-if="ctrl.bioTrainerInfo.trainer.Certifications.length > 0"
					ng-init="expanded = {open: false, length: ctrl.bioTrainerInfo.trainer.Certifications.length }">
					<h6>Certifications</h6>
					<ul class="list-unstyled" ng-init="length = ctrl.bioTrainerInfo.trainer.Certifications.length">
						<li ng-repeat="item in ctrl.bioTrainerInfo.trainer.Certifications"
							ng-bind="(item.Name + ' - '+ item.OrganizationName)"
							ng-show="expanded.open || ($index < 4)"></li>
						<li class="btn btn-link btn-sm btn-more"
							ng-click="expanded.open = !expanded.open" ng-hide="expanded.open || length > 3">View All</a>
					</ul>
				</div>
			</div>
		</div>
	</section>

	<section class="ltf-bio-trainer-section testimonials">
		<div class="container">
			<h3>Testimonials</h3>
			<div class="row" ng-if="ctrl.bioTrainerInfo.trainer.Testimonials.length > 0">
				<div class="col-xs-12 col-md-6" ng-repeat="testimonial in ctrl.bioTrainerInfo.trainer.Testimonials | limitTo: ctrl.visibleTestimonials">
					<div class="trainer-testimonial" ng-init="expanded = false">
						<h6>
							<span ng-bind="(testimonial.SubmitterFirstName + ' ' + testimonial.SubmitterLastNameInitial + '. - ')"></span>
							<time ng-bind="(testimonial.SubmissionDateTime | date : 'MM/dd/yy')"></time>
						</h6>
						<div class="testimonial-content" ng-bind="( expanded ? testimonial.Message : ( (testimonial.Message | limitTo: 200) + '...') )"></div>
						<a class="btn btn-link btn-sm btn-more" ng-click="expanded = !expanded" ng-hide="expanded || testimonial.Message.length < 200">Read More</a>
					</div>
				</div>
			</div>
			<div class="row" ng-if="ctrl.bioTrainerInfo.trainer.Testimonials.length == 0">
				<div class="col-xs-12">
					<p class="text-muted">We love our trainers and look forward to hearing stories of the many ways they encourage, push, and champion your goals. <br>Be the first to submit a testimonial for this trainer, and tell us why you love working with them!</p>
				</div>
			</div>
			<div class="testimonial-actions">
				<button class="btn btn-primary-outline btn-sm" ng-click="ctrl.showMoreTestimonials()" ng-show="ctrl.bioTrainerInfo.trainer.Testimonials.length > visibleTestimonials">Show All</button>
				<button class="btn btn-primary-outline btn-sm" ng-click="ctrl.testimonialModal()">Submit a Story</button>
			</div>
		</div>
	</section>
</div>

<section class="ltf-bio-trainer-section darker areasoffocus" ng-if="ctrl.bioTrainerInfo.trainer.AreasOfFocus.length > 0">
	<div class="container">
		<h3>Areas of Focus</h3>
		<div class="row">
			<div class="col-xs-12 col-md-4" ng-repeat="item in ctrl.bioTrainerInfo.trainer.AreasOfFocus">
				{{#> _areaOfFocus
			    name = "{{ item.Name }}"
			    image = "{{ ctrl.areaOfFocusImage(item) }}"
			  }}
				{{/_areaOfFocus}}
			</div>
		</div>
	</div>
</section>

<div class="row trainer-actions visible-xs">
	<div class="col-xs-6">
		<button class="btn btn-primary btn-sm" ng-click="ctrl.consultationOpen(ctrl.bioTrainerInfo.trainer.ClubIdentifier)" >Consultation</button>
	</div>
	<div class="col-xs-6">
		<button class="btn btn-primary btn-sm" ng-click="ctrl.messageOpen($event, ctrl.bioTrainerInfo.trainer)">Message</button>
	</div>
</div>

<div ng-show="!ctrl.$scope.validTrainer" class="container ltf-bio-no-trainer">
	<h2>Not Found</h2>
	<p>The trainer you are looking for was not found. Please make sure the URL is correct.</p>
</div>
