<section class="ltf-bio-search">
	<div class="ltf-bio-search-container">
		<div class="ltf-bio-chiclets-container visible-xs">
			<chiclets filters="search.visibleFilters" on-update-filters="ctrl.updateSelectedFilters"></chiclets>
		</div>
		<div class="ltf-bio-filters bg-iso-medium">
			<div class="container">
				<div class="row">
					<multiselect-group id="ltf-bio-search-location" class="col-xs-12 col-md-3" placeholder="Add Location" choices="search.filters.Club" on-change="ctrl.updateSelectedFilters" template-url="components/multiselectLocations.html" filter-key="'Club'"></multiselect-group>
					<multiselect class="col-xs-12 col-md-3" placeholder="Area of Focus" choices="search.filters.AreasOfFocus" on-change="ctrl.updateSelectedFilters" filter-key="'AreasOfFocus'"></multiselect>
					<multiselect class="col-xs-12 col-md-3" placeholder="Time of Day" choices="search.filters.Times" on-change="ctrl.updateSelectedFilters" filter-key="'Times'"></multiselect>
					<multiselect class="col-xs-12 col-md-3" placeholder="Coaching Style" choices="search.filters.TrainingStyle" on-change="ctrl.updateSelectedFilters" filter-key="'TrainingStyle'"></multiselect>
					<multiselect class="col-xs-12 col-md-3 visible-xs" placeholder="Sort By" choices="sortOptions" on-change="ctrl.updateSelectedSort"></multiselect>
				</div>
			</div>
		</div>
		<div class="ltf-bio-chiclets-container hidden-xs">
			<chiclets filters="search.visibleFilters" on-update-filters="ctrl.updateSelectedFilters"></chiclets>
		</div>
	</div>
	<div class="container ltf-bio-service-menu">
		<div class="row">
			<div class="col-xs-12 col-md-9">
				<nav>
					<a ng-class="{ current : ctrl.$scope.search.activeFilters.Services.length == 0 }" ng-click="ctrl.filterByService()"><span>Show All</span></a>
					<a ng-repeat="service in ctrl.$scope.search.filters.Services" ng-click="ctrl.filterByService(service)" ng-class="{ current: ctrl.$scope.search.activeFilters.Services[0] == service }"><span ng-bind="service.Value"></span></a>
				</nav>
			</div>
			<multiselect class="col-xs-12 col-md-3 hidden-xs" placeholder="Sort By" choices="sortOptions" on-change="ctrl.updateSelectedSort()"></multiselect>
		</div>
	</div>
	<div class="filters-button visible-xs">
		<button class="btn btn-primary" ng-click="ctrl.toggleFilters($event)" ng-bind="('View ' + (filtersOpen ? 'Trainers (' + search.totalResultsCount + ')'  : 'Filters' ))"></button>
	</div>
</section>
