<footer ng-class="{ 'hidden-xs': isSearching }" class="footer-mylt" role="contentinfo">
	<div class="p-wrap">
		<p class="copyright"><span>&copy; <span date-format="yyyy"></span> Life Time Fitness, Inc. All rights reserved.</span></p>
	</div>
</footer>
