<header role="banner" class="header">
	<div class="main-header">
		<div class="wrapper">
			<a href="#/" class="logo"><img src="../../../images/logo.svg" alt="Life Time Fitness"></a>
		</div>
	</div>
</header>
