<div class="jumbotron jumbotron-inverse overlay-50">
	<picture class="hero-banner">
		<!--[if IE 9]><video style="display: none;"><![endif]-->
		<source srcset="../../../images/trainer_banner_3x1.jpg" media="(min-width: 992px)">
		<source srcset="../../../images/trainer_banner_16x9.jpg" media="(min-width: 544px)">
		<!--[if IE 9]></video><![endif]-->
		<img src="../../../images/trainer_banner_3x1.jpg" srcset="../../../images/trainer_banner_4x3.jpg" alt="">
	</picture>
	<div class="jumbotron-content middle-center">
		<h1>Find the Right Coach.</h1>
		<p><button class="btn btn-primary" ng-click="ctrl.consultationOpen()">Get My Free Consultation</button></p>
	</div>

</div>
