<div class="modal fade ltf-bio-feedback-modal" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ctrl.clearMessage()">
						<span aria-hidden="true">×</span>
					</button>
				<h5 class="modal-title" id="messageModalLabel">Message {{ firstName }} {{ lastNameInitial }}.</h5>
			</div>
			<div class="modal-body">
				<form novalidate name="messageForm" ng-hide="showThankYou">
					<div class="row">
						<div class="col-xs-6 col-md-4">
							<input type="text" ng-class="['form-control', { 'is-valid': ctrl.$scope.messageForm.messageFirstName.$valid, 'is-invalid': ctrl.$scope.messageForm.messageFirstName.$invalid && ctrl.$scope.messageForm.messageFirstName.$dirty }]"
								name="messageFirstName" placeholder="First Name" max-length="20" ng-model="ctrl.$scope.newMessage.SubmitterFirstName" ng-required="true">
						</div>
						<div class="col-xs-6 col-md-4">
							<input type="text" ng-class="['form-control', { 'is-valid': ctrl.$scope.messageForm.messageLastName.$valid, 'is-invalid': ctrl.$scope.messageForm.messageLastName.$invalid && ctrl.$scope.messageForm.messageLastName.$dirty }]"
								name="messageLastName" placeholder="Last Name" max-length="20" ng-model="ctrl.$scope.newMessage.SubmitterLastName" ng-required="true">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<textarea name="messageBody" ng-model="ctrl.$scope.newMessage.Message" ng-class="['form-control', { 'is-valid': ctrl.$scope.messageForm.messageBody.$valid, 'is-invalid': ctrl.$scope.messageForm.messageBody.$invalid && ctrl.$scope.messageForm.messageBody.$dirty }]"
								rows="6" cols="10" placeholder="Ask a question, set up a time to meet, or just get to know one of our wonderful trainers."
								ng-required="true"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<h5>Preferred Method of Contact</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<input type="tel" ng-class="['form-control', { 'is-valid': ctrl.$scope.messageForm.messagePhone.$valid && ctrl.$scope.newMessage.SubmitterPhone.length, 'is-invalid': ctrl.$scope.messageForm.messagePhone.$invalid && ctrl.$scope.messageForm.messagePhone.$dirty && !ctrl.$scope.testimonialForm.testimonialMemberNumber.$untouched }]"
								name="messagePhone" max-length="20" ng-model="ctrl.$scope.newMessage.SubmitterPhone" placeholder="Phone" ng-required="!ctrl.$scope.newMessage.SubmitterEmail.length"
								ng-minlength="10" ng-pattern="/^(\+?(\d{1}|\d{2}|\d{3})[- ]?)?\(?\d{3}\)?[- ]?\d{3}[- ]?\d{4}$/">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<input type="email" ng-class="['form-control', { 'is-valid': ctrl.$scope.messageForm.messageEmail.$valid && ctrl.$scope.newMessage.SubmitterEmail.length, 'is-invalid': ctrl.$scope.messageForm.messageEmail.$invalid && ctrl.$scope.messageForm.messageEmail.$dirty }]"
								name="messageEmail" max-length="50" ng-model="ctrl.$scope.newMessage.SubmitterEmail" placeholder="Email" ng-required="!ctrl.$scope.newMessage.SubmitterPhone.length">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<h5>Preferred Time of Day to be Contacted</h5>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<div class="checkbox-container">
								<input type="checkbox" id="messageTime_1" ng-model="ctrl.$scope.newMessage.PreferredTimes[0].IsSelected">
								<label for="messageTime_1">Morning</label>
							</div>
							<div class="checkbox-container">
								<input type="checkbox" id="messageTime_2" ng-model="ctrl.$scope.newMessage.PreferredTimes[1].IsSelected">
								<label for="messageTime_2">Afternoon</label>
							</div>
							<div class="checkbox-container">
								<input type="checkbox" id="messageTime_3" ng-model="ctrl.$scope.newMessage.PreferredTimes[2].IsSelected">
								<label for="messageTime_3">Evening</label>
							</div>
						</div>
					</div>
				</form>
				<div ng-hide="!showThankYou">
					<p><strong>Thank you for your submission.</strong></p>
					<p>Someone will be in contact with you within 1-2 business days.</p>
				</div>
			</div>
			<div class="modal-footer">
				<button ng-hide="showThankYou" type="button" class="btn btn-link btn-sm" data-dismiss="modal" ng-click="ctrl.clearMessage()" ng-disabled="ctrl.$scope.sendingMessage">Cancel</button>
				<button ng-hide="showThankYou" type="button" class="btn btn-primary btn-sm" ng-click="ctrl.sendMessage()" ng-disabled="ctrl.$scope.sendingMessage">Send</button>
			</div>
		</div>
	</div>
</div>
