<div id="lt-{{componentName}}"
	{{#if controller }}
	ng-controller="{{controller}} as ctrl"
	{{/if}}
	ng-class="['ltf-bios-public-view', { 'filters-open': filtersOpen }]">

	{{> _header }}

	{{> @partial-block }}

	{{> _footer}}
</div>
