<div class="modal fade ltf-bio-feedback-modal" id="testimonialModal" tabindex="-1" role="dialog" aria-labelledby="testimonialModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="ctrl.clearTestimonial()">
					<span aria-hidden="true">×</span>
				</button>
				<h5 class="modal-title" id="testimonialModalLabel">Submit a Training Story</h5>
			</div>
			<div class="modal-body">
				<form name="testimonialForm">
					<div class="row">
						<div class="col-xs-6 col-md-4">
							<input type="text" ng-class="['form-control', { 'is-valid': ctrl.$scope.testimonialForm.testimonialFirstName.$valid, 'is-invalid': ctrl.$scope.testimonialForm.testimonialFirstName.$invalid && ctrl.$scope.testimonialForm.testimonialFirstName.$dirty }]" name="testimonialFirstName" ng-model="ctrl.$scope.newTestimonial.SubmitterFirstName" placeholder="First Name" ng-required="true">
						</div>
						<div class="col-xs-6 col-md-4">
							<input type="text" ng-class="['form-control', { 'is-valid': ctrl.$scope.testimonialForm.testimonialLastName.$valid, 'is-invalid': ctrl.$scope.testimonialForm.testimonialLastName.$invalid && ctrl.$scope.testimonialForm.testimonialLastName.$dirty }]" name="testimonialLastName" ng-model="ctrl.$scope.newTestimonial.SubmitterLastName" placeholder="Last Name" ng-required="true">
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<small class="text-muted">After your testimonial is approved, your first name will be displayed along with your comments. We will never display your last name.</small>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<textarea name="testimonialBody" ng-model="ctrl.$scope.newTestimonial.Message" ng-class="['form-control', { 'is-valid': ctrl.$scope.testimonialForm.testimonialBody.$valid, 'is-invalid': ctrl.$scope.testimonialForm.testimonialBody.$invalid && ctrl.$scope.testimonialForm.testimonialBody.$dirty }]" rows="6" cols="10" placeholder="We love our trainers and look forward to hearing stories of the many ways they encourage, push, and champion your goals. Tell us why you love your trainer!" ng-required="true"></textarea>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<h5>Member Information</h5>
							<small class="text-muted">Your member number can be found on your Lifetime Fitness member card.</small>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<input type="text" ng-class="['form-control', { 'is-valid': ctrl.$scope.testimonialForm.testimonialMemberNumber.$valid, 'is-invalid': ctrl.$scope.testimonialForm.testimonialMemberNumber.$invalid && ctrl.$scope.testimonialForm.testimonialMemberNumber.$dirty && !ctrl.$scope.testimonialForm.testimonialMemberNumber.$untouched }]" name="testimonialMemberNumber" ng-model="ctrl.$scope.newTestimonial.SubmitterMemberNumber" placeholder="Member Number" maxlength="9" ng-minlength="9" ng-pattern="/^[0-9]+$/" ng-required="true">
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-link btn-sm" data-dismiss="modal" ng-click="ctrl.clearTestimonial()">Cancel</button>
				<button type="button" class="btn btn-primary btn-sm" ng-click="ctrl.sendTestimonial()">Send</button>
			</div>
		</div>
	</div>
</div>