<script src="./clientlibs/js/vendor.min.js?v={{get-date}}"></script>
<script src="./clientlibs/js/app.min.js?v={{get-date}}"></script>
<script type="text/javascript">if (typeof _satellite != 'undefined') _satellite.pageBottom();</script>
