<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Life Time - Trainer Bios</title>

		<!--[if IE]>
	        <link rel="shortcut icon" href="../../../clientlibs/images/favicon.ico" type="image/x-icon" />
	    <![endif]-->

	    <link rel="icon" type="image/png" href="../../../clientlibs/images/favicon.png">

	    <script src="//assets.adobedtm.com/a78e4cec7f738ca75b5483c41f07b359f3aa27b6/satelliteLib-f7260a317a42e88672cc0293a6cfa13e54818104.js"></script>
		{{! <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.2/js/tether.min.js"></script> }}
		{{> _systemJS }}
	</head>
	<body>
		{{> (lookup . 'componentName') }}

		{{> _testScripts }}
	</body>
</html>
