<div ng-controller="SearchController as ctrl">
	{{> _hero }}

	{{> _filterPane
		search="ctrl.$scope.search"
	}}

	<loading-indicator class="results-indicator" condition="ctrl.$scope.isLoading || ctrl.$scope.isLoadingFilters"></loading-indicator>

	<main class="main-ltf-bios container">

		<div class="ltf-bio-results">
			<div ng-show="ctrl.$scope.search.totalResultsCount > 0">

				<div class="results-count"><span class="hidden-xs">Showing</span> <span ng-bind="(search.shownResultsCount + '/' + search.totalResultsCount)"></span> <span ng-hide="search.sortMethod == ''" ng-bind="('| Sorted by' + search.sortMethod.Value )"></span></div>

				<div class="row" ng-show="!ctrl.$scope.isLoadingFilters && !ctrl.$scope.isLoading">
					<div class="col-xs-12 col-sm-6 col-lg-4" dir-paginate="result in ctrl.$scope.search.filteredResults | orderBy: ctrl.$scope.search.sortMethod.SortValue | itemsPerPage: ctrl.$scope.search.pageSize" current-page="ctrl.$scope.search.currentPage">
						{{#> _card
							firstName = "{{ result.FirstName }}"
							lastInitial = "{{ result.LastNameInitial }}"
							photoPath = "{{ result.PhotoPath }}"
							id = "{{ result.ProfileIdentifier }}"
						}}
						{{/_card}}
					</div>
				</div>

				<div class="row">
					<dir-pagination-controls class="pagination-row"></dir-pagination-controls>
				</div>

			</div>

			<div class="row" ng-hide="ctrl.$scope.search.totalResultsCount > 0 && !ctrl.$rootScope.filtersOpen">
				<p class="ltf-bio-no-results">So sorry, but no results currently match your criteria. <br><br class="visible-xs">Try adding another location to your search.</p>
			</div>
		</div>

	</main>
</div>
