{{#> _page controller="MemberController" }}

<div ng-view></div>

{{#> _messageModal
	firstName = "{{ ctrl.bioTrainerInfo.trainer.FirstName }}"
	lastNameInitial = "{{ ctrl.bioTrainerInfo.trainer.LastNameInitial }}"
}}
{{/_messageModal}}

<div class="ltf-bio-consultation-modal" id="consultationModal" ng-include="'components/consultation/consultation.html'"></div>

<div class="modal fade" id="unsavedChangesModal" tabindex="-1" role="dialog" aria-labelledby="unsavedChangesModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        <h5 class="modal-title" id="unsavedChangesModalLabel">Exit Free Consultation</h5>
      </div>
      <div class="modal-body">
        <p>Your consultation request has not been submitted. To continue with your free consultation request click the Continue
          button. To exit without requesting a consultation click the Exit button.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link btn-sm" data-dismiss="modal" ng-click="ctrl.consultationContinue()">Continue</button>
        <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal" ng-click="ctrl.consultationExit()">Exit</button>
      </div>
    </div>
  </div>
</div>

{{/_page}}
