@import "variables-base";
@import "variables-ltf-bios";

body {
	background-color: $gray-lightest;
}

.ng-hide {
	display: none !important;
}

h1,
h2,
h3 {
	letter-spacing: 0.03em;
}

a.rev,
.btn-link.rev {
	color: $bios-link-rev-color;

	&:hover,
	&:focus {
		color: $bios-link-rev-hover;
	}

	&:active {
		color: $bios-link-rev-active;
	}
}

.btn-primary-outline.rev {
	color: $bios-link-rev-color;
	border-color: $bios-link-rev-color;

	&.active,
	&.focus,
	&:active,
	&:focus,
	&:hover {
		color: $bios-link-rev-hover;
		border-color: $bios-link-rev-hover;
	}
}

.btn-primary.rev {
	background-color: $bios-link-rev-color;

	&.active,
	&.focus,
	&:active,
	&:focus,
	&:hover {
		background-color: $bios-link-rev-hover;
	}
}

.btn-no-outline {
	border-color: transparent !important;
}

.loading-container {
	padding: 40px;
}

.ltf-bio-app-loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: $gray-lightest;

	.loading-spinner-lg {
		position: relative;
		margin-top: -30px;
		top: 50%;
	}
}

.pagination-row {
	text-align: center;
	width: 100%;
}

textarea.form-control {
	line-height: 1.5em;
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

// overriding transition all for form-controls
.form-control {
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-control.is-invalid,
.form-control.is-valid {
	padding-right: 1.5rem;
	background-repeat: no-repeat;
	background-position: center right 0.625rem;
	background-size: 18px 1pc;
}

.modal-backdrop {
	background-color: $gray-light;
}

.radio-container {
	input[type=radio]+label {
		&::before,
		&::after {
			font-size: 16px;
		}
	}
}

.multiselect label {
	font-weight: normal;
}

// adding whistle icon (not in current shared styles css)
.ico-coaching-style {
	display: inline;
	height: 20px !important;
	float:left;
	margin: 0 10px 0 0;
}

.ico-placeholder {
	position: relative;
	top: 0.05em;

	&::before {
		content: ' ';
		display: inline-block;
		width: 20px;
		height: 20px;
		vertical-align: baseline;
		background-repeat: no-repeat;
		background-position: left center;
	}
}

.bio-ico-chart::before {
	background-image: url('../../images/ico-chart.svg');
}

/* Adding indicators for :focus for keyboard navigation */
input[type=checkbox]:focus+label,
input[type=radio]:focus+label {
	color: $gray-dark;
}

input[type=checkbox]:focus+label::before,
input[type=radio]:focus+label::before {
	border-color: $brand-primary;
}

.profile-image {
	border-radius: 100%;
	margin: 0;
}

.jumbotron {
	margin: 0;
	padding: 0;
}

.jumbotron-content h1 {
	font-size: 2rem;
	font-weight: 600;
}


/*************************************/
/* New Grid Elements                 */
/*************************************/

.row {
	&::after,
	&::before {
		display: none;
		content: normal;
	}
}

.container-narrow {
	max-width: 770px;
	padding-left: 0;
	padding-right: 0;
}


/*************************************/
/* Header/Footer                     */
/*************************************/

/* Header */

.header {
	.wrapper {
		position: relative;
		margin: 0 15px;
	}

	.main-header {
		background-color: $gray-dark;
		height: 44px;

		.logo {
			display: inline-block;
			padding: 9px 0;

			img {
				display: inline;
				margin-bottom: 0;
				width: 108px;
			}
		}
	}
}

.copyright {
	margin-bottom: 0;

	span {
		display: inline;
	}
}


/*************************************/
/* Message Modal                     */
/*************************************/

.ltf-bio-feedback-modal {
	.modal-header {
		padding-left: 15px;
		padding-right: 15px;
	}

	.modal-title {
		font-family: $font-family-serif;
		font-size: $size-24;
		font-weight: 500;
		margin-top: 40px;
	}

	.modal-body {
		padding: 15px;
	}

	h5 {
		margin: 10px 0 4px;
	}

	label {
		font-weight: normal;
		font-size: $size-14;
	}

	.row {
		margin-bottom: 12px;
		margin-left: -6px;
		margin-right: -6px;
	}

	[class^='col-'] {
		padding-left: 6px;
		padding-right: 6px;
	}

	.checkbox-container:last-child {
		margin-bottom: 0;
	}
}

@media (min-width: 768px) {
	.ltf-bio-feedback-modal {
		.modal-header,
		.modal-body {
			padding-left: 30px;
			padding-right: 30px;
		}

		.modal-title {
			font-size: $size-28;
			margin-top: 50px;
		}
	}

	.jumbotron-content h1 {
		font-size: 3rem;
	}
}

@media (min-width: 992px) {

}

@media (min-width: 1200px) {

}
