$bios-brand-primary: #009fcb;

$bios-gray-medium: #888;
$bios-gray-dark: #999;
$bios-gray-darkest: #222;
$bios-gray-header-border: #c9c9c9;

$bios-link-rev-color:			$bios-brand-primary !default;
$bios-link-rev-visited:			$bios-link-rev-color !default;
$bios-link-rev-focus:			adjust-hue(lighten($bios-link-rev-color, 30%), 353) !default;
$bios-link-rev-hover:			adjust-hue(lighten($bios-link-rev-color, 30%), 353) !default;
$bios-link-rev-active:			adjust-hue(lighten($bios-link-rev-color, 8%), 353) !default;

$bios-shadow:					rgba(0, 0, 0, 0.5);

@font-face {
	font-family: PreloSlab;
	src: url("../fonts/prelo-slab/preloslab-light-webfont.eot");
	src: url("../fonts/prelo-slab/preloslab-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/prelo-slab/preloslab-light-webfont.woff2") format("woff2"), url("../fonts/prelo-slab/preloslab-light-webfont.woff") format("woff"), url("../fonts/prelo-slab/preloslab-light-webfont.ttf") format("truetype"), url("../fonts/prelo-slab/preloslab-light-webfont.svg#prelo_slab_lightlight") format("svg");
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: PreloSlab;
	src: url("../fonts/prelo-slab/preloslab-book-webfont.eot");
	src: url("../fonts/prelo-slab/preloslab-book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/prelo-slab/preloslab-book-webfont.woff2") format("woff2"), url("../fonts/prelo-slab/preloslab-book-webfont.woff") format("woff"), url("../fonts/prelo-slab/preloslab-book-webfont.ttf") format("truetype"), url("../fonts/prelo-slab/preloslab-book-webfont.svg#prelo_slabbook") format("svg");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: PreloSlab;
	src: url("../fonts/prelo-slab/preloslab-medium-webfont.eot");
	src: url("../fonts/prelo-slab/preloslab-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/prelo-slab/preloslab-medium-webfont.woff2") format("woff2"), url("../fonts/prelo-slab/preloslab-medium-webfont.woff") format("woff"), url("../fonts/prelo-slab/preloslab-medium-webfont.ttf") format("truetype"), url("../fonts/prelo-slab/preloslab-medium-webfont.svg#prelo_slab_mediummedium") format("svg");
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: PreloSlab;
	src: url("../fonts/prelo-slab/preloslab-bold-webfont.eot");
	src: url("../fonts/prelo-slab/preloslab-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/prelo-slab/preloslab-bold-webfont.woff2") format("woff2"), url("../fonts/prelo-slab/preloslab-bold-webfont.woff") format("woff"), url("../fonts/prelo-slab/preloslab-bold-webfont.ttf") format("truetype"), url("../fonts/prelo-slab/preloslab-bold-webfont.svg#prelo_slab_boldbold") format("svg");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: mylt-icons;
	src: url("../fonts/icons/mylt-icons.ttf?rja78n") format("truetype"), url("../fonts/icons/mylt-icons.woff?rja78n") format("woff"), url("../fonts/icons/mylt-icons.svg?rja78n#mylt-icons") format("svg");
	font-weight: 400;
	font-style: normal;
}

$size-5: 0.3125rem;
$size-8: 0.5rem;
$size-9: 0.5625rem;
$size-10: 0.625rem;
$size-11: 0.6875rem;
$size-12: 0.75rem;
$size-13: 0.8125rem;
$size-14: 0.875rem;
$size-15: 0.9375rem;
$size-18: 1.125rem;
$size-20: 1.25rem;
$size-22: 1.375rem;
$size-24: 1.5rem;
$size-28: 1.75rem;
