// Colors
// Grayscale and brand colors.

$gray-darkest:              #151515 !default;
$gray-darker:               #333 !default;
$gray-dark:                 #444 !default;
$gray:                      #707070 !default;
$gray-light:                #ccc !default;
$gray-lighter:              #e8e8e8 !default;
$gray-lightest:             #f5f5f5 !default;
$black:                     #000 !default;
$white:                     #fff !default;

$brand-primary:             #007faa !default;
$brand-secondary:           $gray-dark !default;
$brand-success:             #76bd23 !default;
$brand-info:                #00cbed !default;
$brand-warning:             #ffb700 !default;
$brand-danger:              #c93325 !default;


// Body
//
// Settings for the `<body>` element.

$body-bg:                    #fff !default;
$body-color:                 $gray !default;


// Links
//
// Style anchor elements.

$link-color:                 $brand-primary !default;
// Hover color also used for :focus
$link-hover-color:           darken($link-color, 15%) !default;
$link-hover-decoration:      none !default;
$link-active-color:          darken($link-color, 20%) !default;

// Reversed links

$link-rev-color:            adjust-hue(lighten($brand-primary, 13%), 353) !default;
$link-rev-visited:          $link-rev-color !default;
$link-rev-focus:            adjust-hue(lighten($brand-primary, 30%), 353) !default;
$link-rev-hover:            adjust-hue(lighten($brand-primary, 30%), 353) !default;
$link-rev-active:           adjust-hue(lighten($brand-primary, 8%), 353) !default;


// Grid breakpoints
//
// Define the minimum and maximum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
	// Extra small screen / phone
	xs: 0,
	// Small screen / phone
	sm: 544px,
	// Medium screen / tablet
	md: 768px,
	// Large screen / desktop
	lg: 992px,
	// Extra large screen / wide desktop
	xl: 1200px
) !default;


// Breakpoint Variables
$bp-xs: map-get($grid-breakpoints, xs) !default;
$bp-sm: map-get($grid-breakpoints, sm) !default;
$bp-md: map-get($grid-breakpoints, md) !default;
$bp-lg: map-get($grid-breakpoints, lg) !default;
$bp-xl: map-get($grid-breakpoints, xl) !default;


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: (
	sm: 100%,
	md: 100%,
	lg: 100%,
	xl: 1200px
) !default;


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:               12 !default;
$grid-gutter-width:          1.875rem !default; // 30px


// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:          "Helvetica Neue", "TeXGyreHeros", "Segoe UI", Helvetica, Arial, sans-serif !default;
$font-family-serif:               "PreloSlab", "Andale Mono", Cambria, Palatino, serif !default;
$font-family-sans-serif-light:    "Swiss_721 W03 Light", "Helvetica Neue", "TeXGyreHeros", "Segoe UI", Helvetica, Arial, sans-serif !default;
$font-family-sans-serif-heavy:    "Swiss_721 W03 Heavy", "Helvetica Neue", "TeXGyreHeros", "Segoe UI", Helvetica, Arial, sans-serif !default;
$font-family-monospace:           Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base:                $font-family-sans-serif !default;
$font-family-icons:				  "mylt-icons";
